<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>新闻中心</title>
</head>

<!-- html-loader 不能识别这些图片； -->
<img src="${require('../asset/ewm.png')}" alt="" style="display:none;">
<img src="${require('../asset/jsicbok.png')}" alt="" style="display:none;">
<img src="${require('../asset/服务热线.png')}" alt="" style="display:none;">

<body>
    <div class='banner'>
        <div class='bg-img'>
            <div class='content'>
                <div class='title'>新闻中心</div>
                <div class='subtitle'>News&nbsp;Center</div>
            </div>
        </div>
        <!--  header -->
        <%= require('html-loader!./header.html') %>
    </div>
    <div class='main-content'>
        <div class='specific-info'>
            <div class='title'>
                天亿达与西安羚控签署战略合作协议
            </div>
            <div class='date'>
                日期：2018-5-20
            </div>
            <div class='para'>
                2018年5月18日，天亿达与西安羚控就无人机在边海防安防领域中的运用签署了战略合作协议。西安羚控电子科技有限公司在无人机、低空安防产品等领域的研发处于国内领先水平。此次合作，将是天亿达首次尝试将无人机等低空安防产品运用到边海防安防信息化建设中。2018年5月18日，天亿达与西安羚控就无人机在边海防安防领域中的运用签署了战略合作协议。西安羚控电子科技有限公司在无人机、低空安防产品等领域的研发处于国内领先水平。此次合作，将是天亿达首次尝试将无人机等低空安防产品运用到边海防安防信息化建设中。2018年5月18日，天亿达与西安羚控就无人机在边海防安防领域中的运用签署了战略合作协议。西安羚控电子科技有限公司在无人机、低空安防产品等领域的研发处于国内领先水平。此次合作，将是天亿达首次尝试将无人机等低空安防产品运用到边海防安防信息化建设中。
            </div>
            <div class='image'>
                <img src="${require('../asset/news/IMG_2854.jpg')}" alt="">
            </div>
            <div class='para'>
                2018年5月18日，天亿达与西安羚控就无人机在边海防安防领域中的运用签署了战略合作协议。西安羚控电子科技有限公司在无人机、低空安防产品等领域的研发处于国内领先水平。此次合作，将是天亿达首次尝试将无人机等低空安防产品运用到边海防安防信息化建设中。2018年5月18日，天亿达与西安羚控就无人机在边海防安防领域中的运用签署了战略合作协议。西安羚控电子科技有限公司在无人机、低空安防产品等领域的研发处于国内领先水平。此次合作，将是天亿达首次尝试将无人机等低空安防产品运用到边海防安防信息化建设中。2018年5月18日，天亿达与西安羚控就无人机在边海防安防领域中的运用签署了战略合作协议。西安羚控电子科技有限公司在无人机、低空安防产品等领域的研发处于国内领先水平。此次合作，将是天亿达首次尝试将无人机等低空安防产品运用到边海防安防信息化建设中。
            </div>
            <div class='para'>
                2018年5月18日，天亿达与西安羚控就无人机在边海防安防领域中的运用签署了战略合作协议。西安羚控电子科技有限公司在无人机、低空安防产品等领域的研发处于国内领先水平。此次合作，将是天亿达首次尝试将无人机等低空安防产品运用到边海防安防信息化建设中。2018年5月18日，天亿达与西安羚控就无人机在边海防安防领域中的运用签署了战略合作协议。西安羚控电子科技有限公司在无人机、低空安防产品等领域的研发处于国内领先水平。此次合作，将是天亿达首次尝试将无人机等低空安防产品运用到边海防安防信息化建设中。2018年5月18日，天亿达与西安羚控就无人机在边海防安防领域中的运用签署了战略合作协议。西安羚控电子科技有限公司在无人机、低空安防产品等领域的研发处于国内领先水平。此次合作，将是天亿达首次尝试将无人机等低空安防产品运用到边海防安防信息化建设中。
            </div>
        </div>
    </div>
    <!--  footer -->
    <%= require('html-loader!./footer.html') %>

</body>

</html>