<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>产品中心</title>
</head>
<!-- html-loader 不能识别这些图片； -->
<img src="${require('../asset/ewm.png')}" alt="" style="display:none;">
<img src="${require('../asset/jsicbok.png')}" alt="" style="display:none;">
<img src="${require('../asset/服务热线.png')}" alt="" style="display:none;">

<body>
    <div class='banner'>
        <!--  header -->
        <%= require('html-loader!./header.html') %>
        <div class="web-title">
            <div class="upper-title">卓越的产品和服务</div>
            <div class="low-title">PRODUCT&nbsp;CENTER</div>
            <div class="light-bulb"><img src="${require('../asset/product/产品.png')}" alt=""></div>
        </div>
    </div>
    <div class='catalog'>
        <div style="position: relative;width: 1064px; margin: 0 auto;">
            <div style='overflow: hidden;height: 360px;'>
                <div class="clearfix" style='width: 40000px;'>
                    <div class='module' name='gdzt'>
                        <div class='bg-img'></div>
                        <div class='line'></div>
                        <div class='title'>光电转台</div>
                        <div class='content'>
                            采用球形转台设计方式，转台防护性和环境适应性都满足最恶劣
                            <span>......</span>
                        </div>
                    </div>
                    <div class='module' name='fyx'>
                        <div class='bg-img'></div>
                        <div class='line'></div>
                        <div class='title'>副油箱</div>
                        <div class='content'>
                            飞机副油箱检测设备主要针对飞机副油箱的油量是否在副油箱内
                            <span>......</span>
                        </div>
                    </div>
                    <div class='module' name='dxdb'>
                        <div class='bg-img'></div>
                        <div class='line'></div>
                        <div class='title'>单向单兵</div>
                        <div class='content'>
                            采用较为先进的COFDM调制技术、信道编解码技术和差错控制
                            <span>......</span>
                        </div>
                    </div>
                    <div class='module' name='wxspjsytx'>
                        <div class='bg-img'></div>
                        <div class='line'></div>
                        <div class='title'>无线视频接收一体箱</div>
                        <div class='content'>
                            具有功能集中、方便携带等优点
                            <span>......</span>
                        </div>
                    </div>
                    <div class='module' name='zwcz'>
                        <div class='bg-img'></div>
                        <div class='line'></div>
                        <div class='title'>组网车载</div>
                        <div class='content'>
                            采用优化的动态TDMA机制，可以实现所有设备在同一频点下工
                            <span>......</span>
                        </div>
                    </div>
                    <div class='module' name='ldsjgqnq'>
                        <div class='bg-img'></div>
                        <div class='line'></div>
                        <div class='title'>落地式激光驱鸟器</div>
                        <div class='content'>
                            智能激光驱鸟器是基于光学生物防治理论，是激光技术、精密仪
                            <span>......</span>
                        </div>
                    </div>
                    <div class='module' name='mpb'>
                        <div class='bg-img'></div>
                        <div class='line'></div>
                        <div class='title'>密拍包</div>
                        <div class='content'>
                            改装包侧面和挎带上安装有微型摄像头, 改装包样式
                            <span>......</span></div>
                    </div>
                    <div class='module' name='zwdb'>
                        <div class='bg-img'></div>
                        <div class='line'></div>
                        <div class='title'>组网单兵</div>
                        <div class='content'>
                            系统采用双向TDD-OFDM技术，支持2-20MHz带宽内
                            <span>......</span>
                        </div>
                    </div>
                    <div class='module' name='wxtxcsxt'>
                        <div class='bg-img'></div>
                        <div class='line'></div>
                        <div class='title'>无线图像传输</div>
                        <div class='content'>
                            双向无线数字图像传输系统采用COFDM调制技术，支持高速移
                            <span>......</span>
                        </div>
                    </div>
                    <div class='module' name='czsjgqnq'>
                        <div class='bg-img'></div>
                        <div class='line'></div>
                        <div class='title'>车载式激光驱鸟器</div>
                        <div class='content'>
                            智能激光驱鸟器是基于光学生物防治理论，是激光技术、精密仪
                            <span>......</span>
                        </div>
                    </div>
                    <div class='module' name='tzszpt'>
                        <div class='bg-img'></div>
                        <div class='line'></div>
                        <div class='title'>图侦实战平台</div>
                        <div class='content'>
                            图像侦查综合平台是公安机关开展视频实战应用的基础业务平台
                            <span>......</span>
                        </div>
                    </div>
                    <div class='module' name='gdzt'>
                        <div class='bg-img'></div>
                        <div class='line'></div>
                        <div class='title'>光电转台</div>
                        <div class='content'>
                            采用球形转台设计方式，转台防护性和环境适应性都满足最恶劣
                            <span>......</span>
                        </div>
                    </div>
                    <div class='module' name='fyx'>
                        <div class='bg-img'></div>
                        <div class='line'></div>
                        <div class='title'>副油箱</div>
                        <div class='content'>
                            飞机副油箱检测设备主要针对飞机副油箱的油量是否在副油箱内
                            <span>......</span>
                        </div>
                    </div>
                    <div class='module' name='dxdb'>
                        <div class='bg-img'></div>
                        <div class='line'></div>
                        <div class='title'>单向单兵</div>
                        <div class='content'>
                            采用较为先进的COFDM调制技术、信道编解码技术和差错控制
                            <span>......</span>
                        </div>
                    </div>
                    <div class='module' name='wxspjsytx'>
                        <div class='bg-img'></div>
                        <div class='line'></div>
                        <div class='title'>无线视频接收一体箱</div>
                        <div class='content'>
                            具有功能集中、方便携带等优点
                            <span>......</span>
                        </div>
                    </div>
                    <div class='module' name='zwcz'>
                        <div class='bg-img'></div>
                        <div class='line'></div>
                        <div class='title'>组网车载</div>
                        <div class='content'>
                            采用优化的动态TDMA机制，可以实现所有设备在同一频点下工
                            <span>......</span>
                        </div>
                    </div>
                    <div class='module' name='ldsjgqnq'>
                        <div class='bg-img'></div>
                        <div class='line'></div>
                        <div class='title'>落地式激光驱鸟器</div>
                        <div class='content'>
                            智能激光驱鸟器是基于光学生物防治理论，是激光技术、精密仪
                            <span>......</span>
                        </div>
                    </div>
                    <div class='module' name='mpb'>
                        <div class='bg-img'></div>
                        <div class='line'></div>
                        <div class='title'>密拍包</div>
                        <div class='content'>
                            改装包侧面和挎带上安装有微型摄像头, 改装包样式
                            <span>......</span></div>
                    </div>
                    <div class='module' name='zwdb'>
                        <div class='bg-img'></div>
                        <div class='line'></div>
                        <div class='title'>组网单兵</div>
                        <div class='content'>
                            系统采用双向TDD-OFDM技术，支持2-20MHz带宽内
                            <span>......</span>
                        </div>
                    </div>
                    <div class='module' name='wxtxcsxt'>
                        <div class='bg-img'></div>
                        <div class='line'></div>
                        <div class='title'>无线图像传输</div>
                        <div class='content'>
                            双向无线数字图像传输系统采用COFDM调制技术，支持高速移
                            <span>......</span>
                        </div>
                    </div>
                    <div class='module' name='czsjgqnq'>
                        <div class='bg-img'></div>
                        <div class='line'></div>
                        <div class='title'>车载式激光驱鸟器</div>
                        <div class='content'>
                            智能激光驱鸟器是基于光学生物防治理论，是激光技术、精密仪
                            <span>......</span>
                        </div>
                    </div>
                    <div class='module' name='tzszpt'>
                        <div class='bg-img'></div>
                        <div class='line'></div>
                        <div class='title'>图侦实战平台</div>
                        <div class='content'>
                            图像侦查综合平台是公安机关开展视频实战应用的基础业务平台
                            <span>......</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class='button-left'>
                <div></div>
            </div>
            <div class='button-right'>
                <div></div>
            </div>
        </div>
    </div>
    <div class='main-content'>
        <div class='flag'>
            <div></div>
            <div></div>
        </div>
        <div class='panel gdzt'>
            <div class='line'></div>
            <div class='title'>全天候日夜光电转台</div>
            <div class='subtitle'>All-weather day and night photoelectric turntable</div>
            <div class='intro'>产品介绍</div>
            <div class='para clearfix'>
                <div class='img' style='float: right;margin-left:50px;'><img src="${require('../asset/product/bg.png')}"
                        alt=""></div>
                <div class="content">
                    采用球形转台设计方式，转台防护性和环境适应性都满足最恶劣的天气环境。转台的密封性和防电磁干扰性满足国家严格的要求，护罩玻璃在防尘方面一定要做特殊处理，采用不易沾水和沾尘的特殊玻璃材质，并抗震和防冲击。
                </div>
                <div class="content">
                    转台全部采用标准数字化和高清化设计，转台内部增加网络控制模块，控制协议采用通用协议，在扩展性，开发性方面相比较原来标准有大幅度提升。
                </div>
                <div class="content">
                    转台包含转台主体和附件，转台主体由四大部分组成：方位组件、仰俯组件、可见光组件和热像仪组件，附件包含安装支架和供电箱。
                </div>
                <div class="content">
                    转台内置远程连续变焦红外热成像仪是采用最新的第五代非制冷型焦平面红外探测器，并配连续变焦红外镜头制成，焦距用于全黑和雾、雨环境下的远距离监控。
                </div>
            </div>
            <img src="${require('../asset/product/产品-光电转台.png')}" alt="">
        </div>
        <div class='panel czsjgqnq'>
            <div class='line'></div>
            <div class='title'>车载式激光驱鸟器</div>
            <div class='subtitle'>Vehicle-mounted laser bird repellent</div>
            <div class='intro'>产品介绍</div>
            <div class='para clearfix'>
                <div class='img' style='float: right;margin-left:50px;'><img
                        src="${require('../asset/product/bg3.png')}" alt=""></div>
                <div class="content">
                    智能激光驱鸟器是基于光学生物防治理论，是激光技术、精密仪器与电动控制相结合的全新产品。具有保护性驱鸟、驱鸟效率高、无污染、安全可靠等特点，是机场驱鸟、防范鸟害、减少飞行事故发生的有效装备。
                </div>
                <div class="content">
                    激光驱鸟器是目前国际范围内最新的有效驱鸟的方法之一，是利用生物生理特点和生物光学原理在生物灾害防治中的有效应用。
                </div>
                <div class="content">
                    鸟类视力极佳，对波长为532nm的激光尤其敏感，当绿激光照射到鸟群附近时绿激光对鸟类眼睛的刺激会引起鸟类的本能反应，其会迅速逃离，以躲避绿激光。
                </div>
            </div>

            <table border="1px" bordercolor="#999999" cellspacing="0px" style="border-collapse:collapse">
                <tr>
                    <td>激光发射功率：</td>
                    <td>最大功率500mw</td>
                    <td>光源：</td>
                    <td>可视绿色激光，波长532nm</td>
                </tr>
                <tr>
                    <td>设计扫描直径：</td>
                    <td>2000m</td>
                    <td>发射光束口径：</td>
                    <td>90mm</td>
                </tr>
                <tr>
                    <td>光照条件：</td>
                    <td>低于15000lux有效</td>
                    <td>环境温度：</td>
                    <td>-15度 ~ +15度</td>
                </tr>
                <tr>
                    <td>储存温度：</td>
                    <td>-45度 ~ +60度</td>
                    <td>环境防护：</td>
                    <td>防暴雨，防沙尘暴，防冰冻</td>
                </tr>
                <tr>
                    <td>有效高度：</td>
                    <td>最大高于海平面2000m(ASL)</td>
                    <td>工作电压：</td>
                    <td>汽车电源供电，锂电池辅助供电</td>
                </tr>
            </table>
            <img src="${require('../asset/product/产品-车载驱鸟器.png')}" alt="">
        </div>
        <div class='panel dxdb'>
            <div class='line'></div>
            <div class='title'>单向单兵</div>
            <div class='subtitle'>One-way soldier</div>
            <div class='intro'>产品介绍</div>
            <div class='para clearfix'>
                <div class='img' style='float: right;margin-left:50px;'><img
                        src="${require('../asset/product/bg4.png')}" alt=""></div>
                <div class="content">
                    采用较为先进的COFDM调制技术、信道编解码技术和差错控制技术，结合MPEG2、MPEG4、H.264视音频压缩编码技术，能在“高速移动中”、“非通视”条件下实现视频、音频和数据等的实时同步传输。具有传输范围广，信号抗干扰和抗衰落能力强、保密性高，传输的数据稳定可靠等显著特点。
                </div>
            </div>
            <table border="1px" bordercolor="#999999" cellspacing="0px" style="border-collapse:collapse">
                <tr>
                    <td>图像压缩标准：</td>
                    <td>MPEG2</td>
                    <td>视频输入：</td>
                    <td>PAL/NTSC</td>
                </tr>
                <tr>
                    <td>帧数：</td>
                    <td>25(PAL)帧/秒</td>
                    <td>PCM通信频率：</td>
                    <td>330～400MHz，460～530MHz ，1.0～1.4GHz，2.0～2.4GHz</td>
                </tr>
                <tr>
                    <td>信号带宽：</td>
                    <td>2MHz 8MHz</td>
                    <td>发射功率：</td>
                    <td>单兵0.5～5W可选</td>
                </tr>
                <tr>
                    <td>信息速率（图像速率）：</td>
                    <td>>4M BPS</td>
                    <td>纠错编码：</td>
                    <td>交织,RS（204，188）</td>
                </tr>
                <tr>
                    <td>接口：</td>
                    <td>AV标准Q9接头</td>
                    <td>供电：</td>
                    <td>直流12V</td>
                </tr>
                <tr>
                    <td>工作温度：</td>
                    <td>-20℃～+50℃</td>
                    <td>通信距离：</td>
                    <td>大于3KM—5Km</td>
                </tr>
            </table>
        </div>
        <div class='panel wxspjsytx'>
            <div class='line'></div>
            <div class='title'>无线视频接收一体箱</div>
            <div class='subtitle'>Wireless video receiver integrated box</div>
            <div class='intro'>产品介绍</div>
            <div class='para clearfix'>
                <div class='img' style='float: right;margin-left:50px;'><img
                        src="${require('../asset/product/bg6.png')}" alt=""></div>
                <div class="content">
                    <br>
                    1、显示器<br>
                    2、硬盘录像机<br>
                    3、接收机<br>
                    4、低噪音放大器<br>
                    5、滤波器等等．．．<br>
                    具有功能集中、方便携带等优点。
                </div>
            </div>
        </div>
        <div class='panel wxtxcsxt'>
            <div class='line'></div>
            <div class='title'>无线图像传输系统</div>
            <div class='subtitle'>Wireless image transmission system</div>
            <div class='intro'>产品介绍</div>
            <div class='para clearfix'>
                <div class='img' style='float: right;margin-left:50px;'><img
                        src="${require('../asset/product/bg9.png')}" alt=""></div>
                <div class="content">
                    无线数字图像传输系统解决方案
                </div>
                <div class='content'>
                    双向无线数字图像传输系统采用COFDM调制技术，支持高速移动环境下视频、数据、音频等非视距传输，具备极强的绕射特性和抗干扰能力，是部队、武警、公安、消防、人防、水利、海关、海事、环保、矿井和广播电视等行业在战场监控、安全保卫、移动指挥、任务侦查、灾难救援、现场传播等任务中急需的高性能无线数字图像传输设备。
                </div>
            </div>
            <div style='text-align: center;'>
                <img src="${require('../asset/product/产品-无线图像01.png')}" alt="">
                <img src="${require('../asset/product/产品-无线图像02.png')}" alt="">
            </div>
        </div>
        <div class='panel ldsjgqnq'>
            <div class='line'></div>
            <div class='title'>落地式激光驱鸟器</div>
            <div class='subtitle'>Floor laser bird repellent</div>
            <div class='intro'>产品介绍</div>
            <div class='para clearfix'>
                <div class='img' style='float: right;margin-left:50px;'><img
                        src="${require('../asset/product/bg11.png')}" alt=""></div>
                <div class="content">
                    智能激光驱鸟器是基于光学生物防治理论，是激光技术、精密仪器与电动控制相结合的全新产品。具有保护性驱鸟、驱鸟效率高、无污染、安全可靠等特点，是机场驱鸟、防范鸟害、减少飞行事故发生的有效装备。
                </div>
                <div class="content">
                    激光驱鸟器是目前国际范围内最新的有效驱鸟的方法之一，是利用生物生理特点和生物光学原理在生物灾害防治中的有效应用。
                </div>
                <div class="content">
                    鸟类视力极佳，对波长为532nm的激光尤其敏感，当绿激光照射到鸟群附近时绿激光对鸟类眼睛的刺激会引起鸟类的本能反应，其会迅速逃离，以躲避绿激光。
                </div>
            </div>
            <table border="1px" bordercolor="#999999" cellspacing="0px" style="border-collapse:collapse">
                <tr>
                    <td>光源：</td>
                    <td>可视绿色激光，波长532nm</td>
                    <td>保护指标：</td>
                    <td>户外使用</td>
                </tr>
                <tr>
                    <td>防护等级：</td>
                    <td>IP55（防灰尘和水）</td>
                    <td>激光器发射功率：</td>
                    <td>最大功率500mw</td>
                </tr>
                <tr>
                    <td>扫描范围：</td>
                    <td>水平：180度 垂直：-3度</td>
                    <td>发射时间：</td>
                    <td>持续发射</td>
                </tr>
                <tr>
                    <td>电源：</td>
                    <td>220V AC</td>
                    <td>发射光束口径：</td>
                    <td>150mm</td>
                </tr>
                <tr>
                    <td>扫描速度：</td>
                    <td>0.5~4.5°/秒</td>
                    <td>使用温度：</td>
                    <td>-45℃至+60℃</td>
                </tr>
                <tr>
                    <td>设计扫描直径：</td>
                    <td>3000米</td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            <img src="${require('../asset/product/产品-落地式激光驱鸟器.png')}" alt="">
        </div>
        <div class='panel tzszpt'>
            <div class='line'></div>
            <div class='title'>图侦实战平台</div>
            <div class='subtitle'>Figure investigation combat platform</div>
            <div class='intro'>产品介绍</div>
            <div class='para clearfix'>
                <div class='img' style='float: right;margin-left:50px;'><img
                        src="${require('../asset/product/bg12.png')}" alt=""></div>
                <div class="content">
                    图像侦查综合平台解决方案
                </div>
                <div class="content">
                    图像侦查综合平台是公安机关开展视频实战应用的基础业务平台，是图像侦查警种或刑侦利用视频图像侦破案件的平台。平台采用模块化设计，包括视频联网、图像研判、卡口分析、智能工具、案事件库共五大模块。实现案事件视频勘察、图像采集、案事件视频图像处理、案情研判、轨迹分析、资源统一管理和应用；同时能够实现与联网平台、警综系统、卡口系统、PGIS资源进行系统对接和资源整合，满足公安日常图像侦查工作的标准化和精细化；能够有效的为可疑或涉案图像资源提供统一的资源管理和共享，为重要信息的收集与查询、关联资源的碰撞、串并案分析研判提供基础保障。
                </div>
                <div class="subtitle">产品特点</div>
                <div class='subtitle2'>系统先进性</div>
                <div class='content' style="text-indent: 0;">
                    以业务为依据，整合图像资源、改造研判流程、创新侦查模式、提升破案效能。
                </div>
                <div class='subtitle2'>系统融合性</div>
                <div class='content' style="text-indent: 0;">
                    以案件为导向，系统融合警务综合应用平台、视频监控联网平台、治安卡口系统、公安PGIS平台等系统；实现案件视频数据共享、碰撞、分析。
                </div>
                <div class='subtitle2'>业务完整性</div>
                <div class='content' style="text-indent: 0;">
                    以视频为基础，实现视频的采集-处理-研判-应用-共享等业务应用，形成一条完整的图像侦查业务应用主线。
                </div>
                <div class='subtitle2'>业务创新性</div>
                <div class='content' style="text-indent: 0;">
                    以管理为驱动，建立视频图像信息库，实现全市案事件视频资源统一管理、交换、共享；图像侦查应用绩效考核、应用成效展示。
                </div>
            </div>
            <div style='text-align: center;'>
                <img src="${require('../asset/product/产品-图侦实战平台01.png')}" alt="">
                <img src="${require('../asset/product/产品-图侦实战平台02.png')}" alt="">
            </div>
        </div>
        <div class='panel zwdb'>
            <div class='line'></div>
            <div class='title'>组网单兵</div>
            <div class='subtitle'>Networking soldier</div>
            <div class='intro'>产品介绍</div>
            <div class='para clearfix'>
                <div class='img' style='float: right;margin-left:50px;'><img
                        src="${require('../asset/product/bg14.png')}" alt=""></div>
                <div class="content">
                    系统采用双向TDD-OFDM技术，支持2-20MHz带宽内多路高速移动环境下视频、音频和数据等多媒体业务的双向非视距组网传输。采用优化的动态TDMA机制，可以实现所有设备在同一频点下工作，每个子载波根据信道评估机制最优化调制方案为QPSK、QAM16、
                    QAM64,以实现最大效率的频谱利用率。采用高效的H.264视频编解码技术实现双向音视频的组网传输。
                </div>
            </div>
            <table border="1px" bordercolor="#999999" cellspacing="0px" style="border-collapse:collapse">
                <tr>
                    <td>工作频段：</td>
                    <td>100MHz ~ 3GHz，可根据需要定制</td>
                    <td>信道带宽：</td>
                    <td>2MHz ~ 20MHz，可根据需要定制</td>
                </tr>
                <tr>
                    <td>数据码率：</td>
                    <td>1.6Mb/s ~ 16Mb/s</td>
                    <td>发射功率：</td>
                    <td>500mW ~ 1W</td>
                </tr>
                <tr>
                    <td>接收灵敏度：</td>
                    <td>-95dBm@5MHz</td>
                    <td>调制方案：</td>
                    <td>BPSK、QPSK、QAM16、QAM64自适应</td>
                </tr>
                <tr>
                    <td>纠错编码：</td>
                    <td>TURBO码</td>
                    <td>传输距离：</td>
                    <td>3 ~ 10Km ；（视发射功率、接收天线高度、无线信道环境等多方面因素而定，典型城市环境）</td>
                </tr>
                <tr>
                    <td>移动速度：</td>
                    <td>最大200Km/h</td>
                    <td>视频编码：</td>
                    <td>H.264</td>
                </tr>
                <tr>
                    <td>帧率：</td>
                    <td>25（PAL）帧/秒</td>
                    <td>分辨率：</td>
                    <td>D1/CIF/QCIF</td>
                </tr>
                <tr>
                    <td>音频编码：</td>
                    <td>ADPCM</td>
                    <td>传输延时：</td>
                    <td>小于200ms</td>
                </tr>
                <tr>
                    <td>数据接口：</td>
                    <td>RJ45</td>
                    <td>视频接口：</td>
                    <td>BNC-75</td>
                </tr>
                <tr>
                    <td>音频接口：</td>
                    <td>BNC-75</td>
                    <td>设备功耗：</td>
                    <td>中心站＜ 120W(视中心站视频解码板数量而定);远端站＜ 28W(视远端站发射功率而定)</td>
                </tr>
                <tr>
                    <td>供电方式：</td>
                    <td>锂电池14.5V</td>
                    <td>天线接口：</td>
                    <td>N型</td>
                </tr>
            </table>
        </div>
        <div class='panel zwcz'>
            <div class='line'></div>
            <div class='title'>组网车载</div>
            <div class='subtitle'>Networking vehicular</div>
            <div class='intro'>产品介绍</div>
            <div class='para clearfix'>
                <div class='img' style='float: right;margin-left:50px;'><img
                        src="${require('../asset/product/bg16.png')}" alt=""></div>
                <div class="content">
                    系统采用双向TDD-OFDM技术，支持2-20MHz带宽内多路高速移动环境下视频、音频和数据等多媒体业务的双向非视距组网传输。采用优化的动态TDMA机制，可以实现所有设备在同一频点下工作，每个子载波根据信道评估机制最优化调制方案为QPSK、QAM16、
                    QAM64,以实现最大效率的频谱利用率。采用高效的H.264视频编解码技术实现双向音视频的组网传输。
                </div>

                <table border="1px" bordercolor="#999999" cellspacing="0px" style="border-collapse:collapse">
                    <tr>
                        <td>工作频段：</td>
                        <td>100MHz ~ 3GHz，可根据需要定制</td>
                        <td>信道带宽：</td>
                        <td>2MHz ~ 20MHz，可根据需要定制</td>
                    </tr>
                    <tr>
                        <td>数据码率：</td>
                        <td>1.6Mb/s ~ 16Mb/s</td>
                        <td>发射功率：</td>
                        <td>10W ~ 20W</td>
                    </tr>
                    <tr>
                        <td>接收灵敏度：</td>
                        <td>-95dBm@5MHz</td>
                        <td>调制方案：</td>
                        <td>BPSK、QPSK、QAM16、QAM64自适应</td>
                    </tr>
                    <tr>
                        <td>纠错编码：</td>
                        <td>TURBO码</td>
                        <td>传输距离：</td>
                        <td>10 ~ 15Km ；（视发射功率、接收天线高度、无线信道环境等多方面因素而定，典型城市环境）</td>
                    </tr>
                    <tr>
                        <td>移动速度：</td>
                        <td>最大200Km/h</td>
                        <td>视频编码：</td>
                        <td>H.264</td>
                    </tr>
                    <tr>
                        <td>帧率：</td>
                        <td>25（PAL）帧/秒</td>
                        <td>分辨率：</td>
                        <td>D1/CIF/QCIF</td>
                    </tr>
                    <tr>
                        <td>音频编码：</td>
                        <td>ADPCM</td>
                        <td>传输延时：</td>
                        <td>小于200ms</td>
                    </tr>
                    <tr>
                        <td>数据接口：</td>
                        <td>RJ45</td>
                        <td>视频接口：</td>
                        <td>BNC-75</td>
                    </tr>
                    <tr>
                        <td>音频接口：</td>
                        <td>BNC-75</td>
                        <td>设备功耗：</td>
                        <td>中心站＜ 120W(视中心站视频解码板数量而定);远端站＜ 28W(视远端站发射功率而定)</td>
                    </tr>
                    <tr>
                        <td>供电方式：</td>
                        <td>AC220/DC 12V</td>
                        <td>天线接口：</td>
                        <td>N型</td>
                    </tr>
                </table>
            </div>

        </div>
        <div class='panel fyx'>
            <div class='line'></div>
            <div class='title'>副油箱</div>
            <div class='subtitle'>Auxiliary fuel tank</div>
            <div class='intro'>产品介绍</div>
            <div class='para clearfix'>
                <div class='img' style='float: right;margin-left:50px;'><img
                        src="${require('../asset/product/bg17.png')}" alt=""></div>
                <div class="content">
                    飞机副油箱检测设备主要针对飞机副油箱的油量是否在副油箱内的油量剩余多少量，检测飞机起飞前的检测设备。它替代目前使用非专业检测设备副油箱油量传感器和人工手动翻转副油箱的传统方法，进一步提高检查副油箱油量传感器的精准度和工作效率，确保一线维修保障工作更加安全可靠，它主要应用于部队、民航专用的飞机。
                </div>
            </div>
            <div class="para">
                <div class='subtitle2'>电气性能技术指标</div>
                <div class='content'>
                    <br>
                    1．副油箱三个传感器，分别为满油、半油、油尽<br>
                    2．满油、半油、油尽提示报警指标灯<br>
                    3．内置温度传感器，自动温度高、低自动加热和降温<br>
                    4．7英寸电容触膜显示屏<br>
                    5．副油箱分为正置和倒置两种。旋转150度，水平放置时为正置。150度为倒置<br>
                    6．供电AC220V，直流28V供电<br>
                    7．内置电池，可供5小时左右<br>
                    8．语音自动报警功能
                </div>
            </div>
        </div>
        <div class='panel mpb'>
            <div class='line'></div>
            <div class='title'>密拍包</div>
            <div class='subtitle'>Hidden Camera In Bag</div>
            <div class='intro'>产品介绍</div>
            <div class='para clearfix'>
                <div class='img' style='float: right;margin-left:50px;'><img
                        src="${require('../asset/product/bg19.png')}" alt=""></div>
                <div class="content">
                    功率：500～2000MW
                </div>
                <div class="content">改装包侧面和挎带上安装有微型摄像头；</div>

                <div class="content">改装包样式具体以实物为准。</div>

            </div>
        </div>
    </div>
    <!--  footer -->
    <%= require('html-loader!./footer.html') %>
</body>

</html>