<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>解决方案</title>
</head>
<!-- html-loader 不能识别这些图片； -->
<img src="${require('../asset/ewm.png')}" alt="" style="display:none;">
<img src="${require('../asset/jsicbok.png')}" alt="" style="display:none;">
<img src="${require('../asset/服务热线.png')}" alt="" style="display:none;">

<body>
    <div class='banner'>
        <!--  header -->
        <%= require('html-loader!./header.html') %>
        <div class="web-title">
            <div class="word">SOLUTIONS</div>
            <div class="light-bulb"><img src="${require('../asset/jiejuefangan.png')}" alt=""></div>
        </div>
    </div>
    <div class='catalog'>
        <div style="position: relative;width: 1064px; margin: 0 auto;">
            <div style='overflow: hidden;height: 360px;'>
                <div class="clearfix" style='width: 40000px;'>
                    <div class='module' name='army'>
                        <div class='bg-img'></div>
                        <div class='line'></div>
                        <div class='title'>军队</div>
                        <div class='content'>基于IP视频传输、环境监控终端、RFID、红外、WIFI等多种智能化识......</div>
                    </div>
                    <div class='module' name='finance'>
                        <div class='bg-img'></div>
                        <div class='line'></div>
                        <div class='title'>金融</div>
                        <div class='content'>提供适合银行安防需求的特色解决方案，致力于将一流的品牌、技术和服务......</div>
                    </div>
                    <div class='module' name='traffic'>
                        <div class='bg-img'></div>
                        <div class='line'></div>
                        <div class='title'>智慧交通</div>
                        <div class='content'>城市经济高速增长、城市化进程加快，交通安全、交通堵塞及环境污染成......</div>
                    </div>
                    <div class='module' name='energy'>
                        <div class='bg-img'></div>
                        <div class='line'></div>
                        <div class='title'>能源环保</div>
                        <div class='content'>集成化、数字化、高清化、智能化的新产品、新技术的应用，天亿达专业......</div>
                    </div>
                    <div class='module' name='gongjianfa'>
                        <div class='bg-img'></div>
                        <div class='line'></div>
                        <div class='title'>公检法</div>
                        <div class='content'>以监控图像资源和报警信息为核心，实现周界报警、紧急报警巡更、门禁......</div>
                    </div>
                    <div class='module' name='wenjiao'>
                        <div class='bg-img'></div>
                        <div class='line'></div>
                        <div class='title'>文教卫生</div>
                        <div class='content'>天亿达科技利用计算机技术、网络技术、通讯技术以及科技规范的管理对......</div>
                    </div>
                    <div class='module' name='city'>
                        <div class='bg-img'></div>
                        <div class='line'></div>
                        <div class='title'>智慧城市</div>
                        <div class='content'>智慧城市，是指用新一代信息和通讯技术，主要是智慧信息通讯技术（简称IICT）......</div>
                    </div>
                    <div class='module' name='agriculture'>
                        <div class='bg-img'></div>
                        <div class='line'></div>
                        <div class='title'>智慧农业</div>
                        <div class='content'>实施“智慧农业”，对社会经济增长和社会发展有着非常显著的作用......</div>
                    </div>
                    <div class='module' name='army'>
                        <div class='bg-img'></div>
                        <div class='line'></div>
                        <div class='title'>军队</div>
                        <div class='content'>基于IP视频传输、环境监控终端、RFID、红外、WIFI等多种智能化识......</div>
                    </div>
                    <div class='module' name='finance'>
                        <div class='bg-img'></div>
                        <div class='line'></div>
                        <div class='title'>金融</div>
                        <div class='content'>提供适合银行安防需求的特色解决方案，致力于将一流的品牌、技术和服务......</div>
                    </div>
                    <div class='module' name='traffic'>
                        <div class='bg-img'></div>
                        <div class='line'></div>
                        <div class='title'>智慧交通</div>
                        <div class='content'>城市经济高速增长、城市化进程加快，交通安全、交通堵塞及环境污染成......</div>
                    </div>
                    <div class='module' name='energy'>
                        <div class='bg-img'></div>
                        <div class='line'></div>
                        <div class='title'>能源环保</div>
                        <div class='content'>集成化、数字化、高清化、智能化的新产品、新技术的应用，天亿达专业......</div>
                    </div>
                    <div class='module' name='gongjianfa'>
                        <div class='bg-img'></div>
                        <div class='line'></div>
                        <div class='title'>公检法</div>
                        <div class='content'>以监控图像资源和报警信息为核心，实现周界报警、紧急报警巡更、门禁......</div>
                    </div>
                    <div class='module' name='wenjiao'>
                        <div class='bg-img'></div>
                        <div class='line'></div>
                        <div class='title'>文教卫生</div>
                        <div class='content'>天亿达科技利用计算机技术、网络技术、通讯技术以及科技规范的管理对......</div>
                    </div>
                    <div class='module' name='city'>
                        <div class='bg-img'></div>
                        <div class='line'></div>
                        <div class='title'>智慧城市</div>
                        <div class='content'>智慧城市，是指用新一代信息和通讯技术，主要是智慧信息通讯技术（简称IICT）......</div>
                    </div>
                    <div class='module' name='agriculture'>
                        <div class='bg-img'></div>
                        <div class='line'></div>
                        <div class='title'>智慧农业</div>
                        <div class='content'>实施“智慧农业”，对社会经济增长和社会发展有着非常显著的作用......</div>
                    </div>
                </div>
            </div>
            <div class='button-left'>
                <div></div>
            </div>
            <div class='button-right'>
                <div></div>
            </div>
        </div>
    </div>
    <div class='main-content'>
        <div class='flag'>
            <div></div>
            <div></div>
        </div>
        <div class='panel army'>
            <div class='line'></div>
            <div class='title'>军队</div>
            <div class='para'>
                <div class='subtitle'>优势与价值</div>
                <div class='content'>天亿达作为“国家陆地边防基础设施”建设唯一入围民营高科技企业，公安边防无线（卫星）通讯设备三家入围供应商之一，
                    以专业的建设队伍、精湛的技术水平、高质量的系统工程，长期致力于协助军警用户在信息化管理上迈进智能化、科技化 的新台阶，为军队、武警信息化和国防现代化贡献更大的力量！</div>
            </div>
            <div class='para'>
                <div class='subtitle'>应用系统</div>
                <div class='subtitle2'>边海防监控管理平台</div>
                <div class='content'>天亿达作为“国家陆地边防基础设施”建设唯一入围民营高科技企业，公安边防无线（卫星）通讯设备三家入围供应商之一，
                    以专业的建设队伍、精湛的技术水平、高质量的系统工程，长期致力于协助军警用户在信息化管理上迈进智能化、科技化 的新台阶，为军队、武警信息化和国防现代化贡献更大的力量！</div>
                <div class='subtitle2'>智慧军营</div>
                <div class='content'>
                    基于IP视频传输、环境监控终端、RFID、红外、WIFI等多种智能化识别和数据采集方案及集中化数据处理中心，形成可记录可管控的，高效、节能、数字化的智慧营区。营区楼宇智能化系统、高清视频监控系统、武警装备仓库管理、周界入侵报警、门禁管理、枪支RFID管理、车辆管理、访客及考勤管理、定位巡逻系统、涉密载体管理。
                </div>
                <div class='subtitle2'>部队多媒体应用</div>
                <div class='content'>
                    利用先进的多媒体及网络技术，集中管理、广播发布，保证信息在指挥中心、各级单位、各终端单位间快速、可视化传输和作战图景直观展现。消防远程监控平台系统、可视化作战指挥系统、视频会议系统、情报侦察系统、LED大屏显示系统、网络信息发布系统、军警应急指挥及卫星通讯系统。
                </div>
                <div class='subtitle2'>车辆信息管理系统</div>
                <div class='content'>
                    基于北斗、GIS、3G/4G等基础技术，形成不受地域限制、全天候的车辆管理系统，做到车辆状态实时获取、内外部图景实时上传、出入站场过程实时记录。车载3G/4G移动视频监控系统、北斗车辆监控系统、出入口管理系统、停车场管理系统。
                </div>
                <div class='subtitle2'>数字化生活</div>
                <div class='content'>
                    后勤数字化关系到部队人员及家属日常生产的稳定，电力、用水、照明、燃气、日常消费、楼宇使用等全面数字化，能够使营区日常生活更加全面协调。设备智能化管理、数字宣教平台、消费一卡通、电子沙盘。
                </div>
            </div>
            <div class='para'>
                <div class='subtitle'>系统特点</div>
                <div class='content'>
                    指挥控制实时化，综合运用信息技术，达到信息获取、传输、处理、分发使用自动化和决策科学化，实现快准感知、实时指挥、全程控制、精确突击。<br>
                    勤务管理可视化，执勤部队建立和用好三级网，对目标区域实时监控；对各级值班员和哨兵实时检查；对勤务资源系统整合，实现信息主导、系统控制、无缝链接，确保安全。<br>
                    教育训练网络化，充分开发利用各类教育训练信息资源，建立和完善教育训练网络应用系统，达到多层覆盖、信息互通、资源共享，实现远程教育、网上练兵、模拟仿真、提高效能。<br>
                    机关办公自动化，重点建设公用办公平台和军事、政治、后勤各类业务管理系统，实现系统配套、整体联动、网上传输、安全高效。</div>
            </div>
        </div>
        <div class='panel finance'>
            <div class='line'></div>
            <div class='title'>金融</div>
            <div class='para'>
                <div class='subtitle'>优势与价值</div>
                <div class='content'>
                    天亿达以其专业可靠的系统集成平台，将视频监控、报警系统、对讲系统、门禁系统等进行联网集成及统一调度管理，并为用户
                    提供适合银行安防需求的特色解决方案，致力于将一流的品牌、技术和服务带给银行客户，保障银行安全。
                </div>
            </div>
            <div class='para'>
                <div class='subtitle'>应用系统</div>

                <div class='subtitle2'>网点高清视频监控系统</div>
                <div class='content'>
                    采用720P、1080P网络高清摄像机获取完美的高清晰、大画面、大视角的监控图像，逼真的色彩还原，清晰的局部细节特征表现。
                </div>

                <div class='subtitle2'>网点联动报警系统</div>
                <div class='content'>
                    基于视频、报警、灯光、通讯等手段的互联互通，建立快速响应的安全防范体系，满足事前预防、事中控制、事后取证报警联动系统。
                </div>

                <div class='subtitle2'>出入口门禁管理系统</div>
                <div class='content'>
                    通过生物识别技术和密码的加密认证手段实现对银行金库门和二道门人员出入控制，保障银行重要部位的最基本安全。
                </div>

                <div class='subtitle2'>网点高清视频监控系统</div>
                <div class='content'>
                    集安防报警功能、无线金库门控制功能、身份识别功能（指纹）、数字监控功能于一体，对金库的进出动态和安防状况进行实时监控、定时开关和集中管理。
                </div>
                <div class='content'>
                    远程联网对讲系统（采用领先的VOIP技术，将模拟音频信号转化成数字信号，在局域网和广域网上进行双向传送，确保安保中心与前端实现对讲功能。）
                </div>

                <div class='subtitle2'>安保系统远程联网集中管理平台</div>
                <div class='content'>
                    针对银行特有环境下分散监控场所特点，将视频监控、报警系统、对讲系统、门禁系统等进行联网集成及统一调度管理。满足行业客户高可靠型、复杂性和灵活性的视频与安防监控业务管理需求。
                </div>

                <div class='subtitle2'>海量数据远程存储系统</div>
                <div class='content'>
                    建立和管理基于IP的存储设备，以先进的IPSAN存储方式高效的、安全的保存银行海量数据信息。
                </div>
            </div>
            <div class='para'>
                <div class='subtitle'>系统特点</div>
                <div class='content'>
                    系统组网科学性：采用分布式大规模体系架构，数据链路科学高效<br>
                    带宽控制灵活性：支持信息查看优先级设置，带宽优先满足高级别查看<br>
                    设备对接兼容性：采用开发式的平台设计，支持多种产品无缝接入<br>
                    报警处理多样性：支持多种报警接入模式，报警联动动作丰富多样<br>
                    检索定位直观性：支持电子地图功能，直观的查看设备状态和视频信息<br>
                    设备运维智能化：支持设备运行状态的实时监控，故障信息自动上传
                </div>
            </div>
        </div>
        <div class='panel gongjianfa'>
            <div class='line'></div>
            <div class='title'>公检法</div>
            <div class='para'>
                <div class='subtitle'>优势与价值</div>
                <div class='content'>
                    以监控图像资源和报警信息为核心，实现周界报警、紧急报警、巡更、门禁、对讲等各类安防资源的整合与集成，实现各子系统间的资源共享与信息互通，全面支持情报研判，指挥和侦查破案，从而达到管理便捷、数据直观、系统智能安全等目的。
                </div>
            </div>
            <div class='para'>
                <div class='subtitle'>应用系统</div>

                <div class='subtitle2'>公共安全</div>
                <div class='content'>
                    公安图侦平台、电子警察、电子卡口、城市三维GIS地理信息系统。
                </div>
                <div class='subtitle2'>数字法院</div>
                <div class='content'>
                    数字审讯系统
                </div>
                <div class='subtitle2'>司法监管</div>
                <div class='content'>
                    行政监管场所管理平台系统、数字化监狱管理系统。<br>
                    （1）通信系统；（2）监管信息系统；（3）应急警报系统；（4）周界控制系统；（5）违禁物品检测系统；（6）门禁系统；（7）音视频监控系统；（8）被监管人员报告系统；（9）异常行为智能监测系统；（10）会见管理系统；（11）电化教育（广播）系统；（12）民警巡视管理系统；（13）值班监督管理系统；（14）视频会议系统；（15）集中报警管理系统；（16）运维管理系统。
                </div>
            </div>
            <div class='para'>
                <div class='subtitle'>系统特点</div>
                <div class='content'>
                    业内最佳的开放性、兼容性；<br>
                    安全可靠的身份认证和审计管理；<br>
                    强大的网络管理功能；<br>
                    高清130/200/500万像素视频采集、传输、显示；<br>
                    智能分析技术应用；<br>
                    系统级联管理和网闸穿透；<br>
                    支持多样化存储技术；<br>
                    高度集成的综合平台管控；<br>
                    面向公安治安业务、侦查业务、司法监管业务的应用。
                </div>
            </div>
        </div>
        <div class='panel energy'>
            <div class='line'></div>
            <div class='title'>能源环保</div>
            <div class='para'>
                <div class='subtitle'>优势与价值</div>
                <div class='content'>
                    天亿达科技在能源环保行业中一直走在前列，对行业的需求与功能也随着信息技术的发展而不断完善与提高。集成化、数字化
                    高清化、智能化的新产品、新技术的应用，天亿达专业的解决方案使得安全防范技术在能源环保行业应用提高到一个新的水平。
                </div>
            </div>
            <div class='para'>
                <div class='subtitle'>应用系统</div>

                <div class='subtitle2'>电力</div>
                <div class='content'>
                    无人值守变电站系统（电力无线数字视频监控系统）
                </div>
                <div class='subtitle2'>林业</div>
                <div class='content'>
                    森林防火远程视频监控系统
                </div>
                <div class='subtitle2'>石油</div>
                <div class='content'>
                    石油管道监控系统、油库防爆监控系统
                </div>
                <div class='subtitle2'>矿业</div>
                <div class='content'>
                    矿井人员定位检测系统、远程数字气体检测系统、尾矿库安全检测系统。
                </div>
            </div>
            <div class='para'>
                <div class='subtitle'>系统特点</div>
                <div class='content'>
                    单点登陆，统一认证，统一平台；<br>
                    电信级可靠性设计，系统稳定可靠；<br>
                    松耦合架构设计，多级中心互联，独立保活；<br>
                    开放式系统平台设计，标准的COM和API接口；<br>
                    运用最新的移动技术，体验贴身监控服务；<br>
                    智能路由技术，降低网络负载；<br>
                    专业化系统网管，维护方便；<br>
                    维护巡检电子化，提高运维工作效率；<br>
                    良好的防雷抗干扰能力。
                </div>
            </div>
        </div>
        <div class='panel wenjiao'>
            <div class='line'></div>
            <div class='title'>文教卫生</div>
            <div class='para'>
                <div class='subtitle'>优势与价值</div>
                <div class='content'>
                    天亿达科技利用计算机技术、网络技术、通讯技术以及科技规范的管理对行业内的教学、科研、管理和生活服务有关的所有信息资源进行整合、集成和全面的数字化，以构成统一的用户管理、统一的资源管理和统一的权限控制；通过组织和业务流程再造，最终实现行业的信息化、决策科学化和管理规范化。
                </div>
            </div>
            <div class='para'>
                <div class='subtitle'>应用系统</div>

                <div class='subtitle2'>数字博物馆</div>
                <div class='content'>
                    集藏品数字信息资源的采集、管理和展示于一天，服务于文物保护、管理和利用工作。
                </div>
                <div class='subtitle2'>数字校园</div>
                <div class='content'>
                    以教师、学生、管理人员为主体，以教学、科研、管理活动为主要服务对象，通过校园数字化实现资源高度共享、信息高速流动，建设数字化教学、科研与管理环境，校园安全防范系统、校园一卡通系统、RFID人员出入管理系统、考场电子巡视系统，多媒体教室、远程教育平台、校车远程监控系统。
                </div>
                <div class='subtitle2'>教学医院</div>
                <div class='content'>
                    医院高清数字监控系统、医院应急指挥管理系统、医院远程手术直播系统、医院网络示教系统、医院远程探视系统、医院影像数据库建设、医院设备资源保安管理、病房呼叫系统和病房监护系统。
                </div>
                <div class='subtitle2'>食品安全</div>
                <div class='content'>
                    食品可追溯系统。
                </div>
            </div>
            <div class='para'>
                <div class='subtitle'>系统特点</div>
                <div class='content'>
                    多层架构设计，有效降低开发和维护成本<br>
                    采用瘦客户机，适应不断变化的业务需求<br>
                    先进的传输压缩技术，有效提高系统并发处理能力和系统安全性<br>
                    电信级可靠性设计，系统稳定可靠<br>
                    运用最新的移动技术，体验贴身监控服务<br>
                    专业化系统网管，维护方便<br>
                    维护巡检电子化，提高运维工作效率<br>
                </div>
            </div>
        </div>
        <div class='panel city'>
            <div class='line'></div>
            <div class='title'>智慧城市</div>
            <div class='para'>
                <div class='subtitle'>优势与价值</div>
                <div class='content'>
                    智慧城市，是指用新一代信息和通讯技术，主要是智慧信息通讯技术（简称IICT），包括以人工智能和模式识别技术，智能感知和自动语义识别及统计技术，大容量智能存储技术，高倍压缩传输高清格式视频图像技术，新型计算机图形技术，多媒体图像表现技术，3D
                    GIS实景建模和虚拟现实技术，目标识别和自动跟踪技术，结合已有的网络信息化技术，有线与无线网络组网和传输技术等，为政府决策办公和应急指挥提供智能可视管理的基础信息平台，并服务于民生，应用于企业和社会团体。<br>
                    天亿达智慧城市以城市级的互联网数据中心IDC为基础，以未来信息化、数字内容、新业务、新应用、新产品、新服务为主题，可通过多样化的展现方式和丰富的新一代声光电、重力感应、动作识别技术等表现手段，实现智能感知、互联互通、协调共享和城市运营。
                </div>
            </div>
            <div class='para'>
                <div class='subtitle'>应用系统</div>
                <img src="${require('../asset/solution/chatu.jpg')}" alt="">
            </div>
            <div class='para'>
                <div class='subtitle'>系统特点</div>
                <div class='content'>
                    智能感知，可视化的数字城市。城市各行业逐步智能感知全市关键建筑物+路口+周界+重要场合的城市要素。<br>
                    智能化的日常决策办公和应急指挥，统一的应急指挥大厅和政府办公辅助界面。<br>
                    服务民生，智慧的信息化服务。为市民的衣食住行，就业，投资，旅游等提供智慧的信息化服务。<br>
                </div>
            </div>
        </div>
        <div class='panel agriculture'>
            <div class='line'></div>
            <div class='title'>智慧农业</div>
            <div class='para'>
                <div class='subtitle'>优势与价值</div>
                <div class='content'>
                    实施“智慧农业”，对社会经济增长和社会发展有着非常显著的作用，概况起来有如下几个方面：<br>
                    1）可极大提高政府的形象。<br>
                    2）可大大提高政府工作效率，增强政府的宏观调控能力和服务能力。<br>
                    3）起到信息化带动农业现代化的作用。<br>
                    实施“智慧农业”，首先带动信息产业的发展；其次带动农业产业的发展，再者，促进产业结构的调整。
                </div>
            </div>
            <div class='para'>
                <div class='subtitle'>应用系统</div>

                <div class='subtitle2'>农业资源管理系统</div>
                <div class='content'>
                    农业资源管理系统可以实现园区历年土壤养分积累、管理、查询；实现与农业生产有关的统计资料的管理、查询、分析，实现推荐施肥方案，降低施肥成本，提高管理效率。系统由8个子模块组成；数据备份模块、信息查询模块、咨询服务模块、报表输出模块、统计图表模块、推荐施肥模块、专题分析模块。
                </div>
                <div class='subtitle2'>农业生态环境监测系统</div>
                <div class='content'>
                    系统可实时采集温度、湿度、光照、土壤温度、土壤湿度、CO2浓度、叶面湿度、露点温度等环境参数，据种植作物的需求提供各种声光报警信息。当温度超过设定值的时候，自动开启或者关闭指定设备。
                </div>
                <div class='subtitle2'>农产品培育控制系统</div>
                <div class='content'>
                    通过对海量数据和信息的云计算，模糊识别各种智能计算技术，进行信息的分析和处理，实现对产品生产过程的智能监督控制，达到农田精耕细作。
                </div>
                <div class='subtitle2'>农产品安全管理系统</div>
                <div class='content'>
                    实现对农产品生产的全称监控，实现从原材料到产成品，从产地到餐桌的全程供应链可追溯系统。
                </div>
            </div>
        </div>
        <div class='panel traffic'>
            <div class='line'></div>
            <div class='title'>智慧交通</div>
            <div class='para'>
                <div class='subtitle'>优势与价值</div>
                <div class='content'>
                    城市经济高速增长、城市化进程加快，交通安全、交通堵塞及环境污染成为困扰目前我国城市交通领域的三大难题；近些年尤其以交通安全、交通堵塞两个问题最为严重。<br>
                    交通事故频繁、影响恶劣，早高峰晚高峰交通严重堵塞、出行公众怨声载道，给交通主管部门带来巨大挑战。据专业机构数据显示，采用智能交通技术以后，可将交通事故死亡人数锐减30%以上，交通工具通行效率提高40%以上。
                </div>
            </div>
            <img src="${require('../asset/solution/chatu2.jpg')}" alt="">
            <div class='para'>
                <div class='subtitle'>应用系统</div>

                <div class='subtitle2'>公交调度指挥系统</div>
                <div class='content'>
                    自动报站、车辆定位、视频监控、多媒体播放、乘客自动计数；
                </div>
                <div class='subtitle2'>车场管理系统</div>
                <div class='content'>
                    远距离蓝牙停车管理系统、停车场综合诱导系统；
                </div>
                <div class='subtitle2'>高清电子警察系统</div>
                <div class='content'>
                    闯红灯抓拍、超速抓拍、违章逆行、雷达测速；
                </div>
                <div class='subtitle2'>高清电子卡口系统</div>
                <div class='content'>
                </div>
            </div>
            <div class='para'>
                <div class='subtitle'>系统特点</div>
                <div class='content'>
                    高清照片提升闯红灯违法行为取证有效率；<br>
                    精确测速与高清照片取证治理超速行为；<br>
                    高清视频清晰捕获逆行、变道、压黄线等违法交通行为；<br>
                    成环成网的电子卡口全面记录通行车辆、刻画与跟踪行车轨迹；<br>
                    高清照片、高清视频、违法信息、交通参数在平台上统一流转、处理与存储；<br>
                    标准件确保与车管库、驾管库无缝对接，并与治安涉及的嫌疑车库、盗抢车库实现数据共享比对，提升交通安全自动化；<br>
                    SOA架构确保与信号灯控制系统、交通诱导系统、公众信息发布系统实现开放式交互，使监控资源的利用效率最大化，为交通疏导提供技术支撑；<br>
                    配合城市交通GIS系统与集群呼叫系统实现交通实时疏导。
                </div>
            </div>
        </div>
    </div>
    <!--  footer -->
    <%= require('html-loader!./footer.html') %>
</body>

</html>