<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>招贤纳士</title>
</head>

<!-- html-loader 不能识别这些图片； -->
<img src="${require('../asset/ewm.png')}" alt="" style="display:none;">
<img src="${require('../asset/jsicbok.png')}" alt="" style="display:none;">
<img src="${require('../asset/服务热线.png')}" alt="" style="display:none;">

<body>
    <div class='banner'>
        <div class='bg-img'>
            <div class='content'>
                <div class='title'>招贤纳士</div>
                <div class='subtitle'>Recruitment</div>
            </div>
        </div>
        <!--  header -->
        <%= require('html-loader!./header.html') %>
    </div>
    <div class='main-content'>
        <div class='tabs'>
            <div class='tab active' name='zpxx'>
                <div class='image'>
                    <img src="${require('../asset/zhao/b1.png')}" style="display:none;" alt="">
                    <img src="${require('../asset/zhao/r1.png')}" style="display:inline;" alt="">
                </div>
                <div class='note'>招聘信息</div>
            </div>
            <div class='tab' name='wyyp'>
                <div class='image'>
                    <img src="${require('../asset/zhao/b2.png')}" style="display:inline;" alt="">
                    <img src="${require('../asset/zhao/r2.png')}" style="display:none;" alt="">
                </div>
                <div class='note'>我要应聘</div>
            </div>
            <div class='tab' name='yrln'>
                <div class="image">
                    <img src="${require('../asset/zhao/b3.png')}" style="display:inline;" alt="">
                    <img src="${require('../asset/zhao/r3.png')}" style="display:none;" alt="">
                </div>
                <div class="note">用人理念</div>
            </div>
        </div>
        <div class='panels'>
            <div class="panel zpxx">
                <div class='title'>
                    <div>职位名称</div>
                    <div>工作地点</div>
                    <div>发布时间</div>
                    <div>详情</div>
                </div>
                <div class='content'>
                    <div class='line'>
                        <div>软件工程师</div>
                        <div>合肥</div>
                        <div>2019年6月6日</div>
                        <div class='button'>
                        </div>
                    </div>
                    <div class='subcontent'>
                        <div class='sub-name'>
                            岗位职责
                        </div>
                        <div class='para'>
                            1.负责开发项目的系统分析，研究与组织实施；<br>
                            2.负责开发符合系统要求的软件内容；<br>
                            3.修改已有的系统方案，以维持优良的操作性能及正常的信息沟通；<br>
                            4.负责对产品提供个体测试以确保其贯性和保证质量；<br>
                            5.提供技术知道促进系统操作技术和译码编程的有效作用；<br>
                            6.推广完善公司系统完成项目借口、开发工作；<br>
                            7.负责编制系统帮助安排手册，协助编制用户手册；<br>
                            8.协助相关应用软件的安装调试。<br>
                        </div>
                        <div class='sub-name'>
                            岗位职责
                        </div>
                        <div class='para'>
                            1.负责开发项目的系统分析，研究与组织实施；<br>
                            2.负责开发符合系统要求的软件内容；<br>
                            3.修改已有的系统方案，以维持优良的操作性能及正常的信息沟通；<br>
                            4.负责对产品提供个体测试以确保其贯性和保证质量；<br>
                            5.提供技术知道促进系统操作技术和译码编程的有效作用；<br>
                            6.推广完善公司系统完成项目借口、开发工作；<br>
                            7.负责编制系统帮助安排手册，协助编制用户手册；<br>
                            8.协助相关应用软件的安装调试。<br>
                        </div>
                    </div>
                    <div class='line'>
                        <div>软件工程师</div>
                        <div>合肥</div>
                        <div>2019年6月6日</div>
                        <div class='button'>
                        </div>
                    </div>
                    <div class='subcontent'>
                        <div class='sub-name'>
                            岗位职责
                        </div>
                        <div class='para'>
                            1.负责开发项目的系统分析，研究与组织实施；<br>
                            2.负责开发符合系统要求的软件内容；<br>
                            3.修改已有的系统方案，以维持优良的操作性能及正常的信息沟通；<br>
                            4.负责对产品提供个体测试以确保其贯性和保证质量；<br>
                            5.提供技术知道促进系统操作技术和译码编程的有效作用；<br>
                            6.推广完善公司系统完成项目借口、开发工作；<br>
                            7.负责编制系统帮助安排手册，协助编制用户手册；<br>
                            8.协助相关应用软件的安装调试。<br>
                        </div>
                        <div class='sub-name'>
                            岗位职责
                        </div>
                        <div class='para'>
                            1.负责开发项目的系统分析，研究与组织实施；<br>
                            2.负责开发符合系统要求的软件内容；<br>
                            3.修改已有的系统方案，以维持优良的操作性能及正常的信息沟通；<br>
                            4.负责对产品提供个体测试以确保其贯性和保证质量；<br>
                            5.提供技术知道促进系统操作技术和译码编程的有效作用；<br>
                            6.推广完善公司系统完成项目借口、开发工作；<br>
                            7.负责编制系统帮助安排手册，协助编制用户手册；<br>
                            8.协助相关应用软件的安装调试。<br>
                        </div>
                    </div>
                    <div class='line'>
                        <div>软件工程师</div>
                        <div>合肥</div>
                        <div>2019年6月6日</div>
                        <div class='button'>
                        </div>
                    </div>
                    <div class='subcontent'>
                        <div class='sub-name'>
                            岗位职责
                        </div>
                        <div class='para'>
                            1.负责开发项目的系统分析，研究与组织实施；<br>
                            2.负责开发符合系统要求的软件内容；<br>
                            3.修改已有的系统方案，以维持优良的操作性能及正常的信息沟通；<br>
                            4.负责对产品提供个体测试以确保其贯性和保证质量；<br>
                            5.提供技术知道促进系统操作技术和译码编程的有效作用；<br>
                            6.推广完善公司系统完成项目借口、开发工作；<br>
                            7.负责编制系统帮助安排手册，协助编制用户手册；<br>
                            8.协助相关应用软件的安装调试。<br>
                        </div>
                        <div class='sub-name'>
                            岗位职责
                        </div>
                        <div class='para'>
                            1.负责开发项目的系统分析，研究与组织实施；<br>
                            2.负责开发符合系统要求的软件内容；<br>
                            3.修改已有的系统方案，以维持优良的操作性能及正常的信息沟通；<br>
                            4.负责对产品提供个体测试以确保其贯性和保证质量；<br>
                            5.提供技术知道促进系统操作技术和译码编程的有效作用；<br>
                            6.推广完善公司系统完成项目借口、开发工作；<br>
                            7.负责编制系统帮助安排手册，协助编制用户手册；<br>
                            8.协助相关应用软件的安装调试。<br>
                        </div>
                    </div>
                </div>
                <div class='pagination'>
                    <div class='center'>
                        <a>上一页</a>
                        <a class="active">1</a>
                        <a>2</a>
                        <a>3</a>
                        <a>4</a>
                        <a>5</a>
                        <a>6</a>
                        <a>7</a>
                        <a>8</a>
                        <a>9</a>
                        <a>10</a>
                        <a>下一页</a>
                        <a>末页</a>
                    </div>
                </div>
            </div>
            <div class='panel wyyp'>
                <div>
                    <label>姓名：</label>
                    <input type='text' id='name'>
                    <span>*</span>
                </div>
                <div>
                    <label>性别：</label>
                    <input name='sex' id="male" type="radio"><label for="male" style="width: 20px;">男</label>
                    <input name='sex' id="female" type="radio"><label for="female" style="width: 20px;">女</label>
                </div>
                <div>
                    <label>电话：</label>
                    <input type='text' id='tel'>
                    <span>*</span>
                </div>
                <div>
                    <label>邮箱：</label>
                    <input type='text' id='mail'>
                    <span>*</span>
                </div>
                <div>
                    <label>学历：</label>
                    <input type='text' id='education'>
                    <span>*</span>
                </div>
                <div>
                    <label>应聘岗位：</label>
                    <input type='text' id='job'>
                    <span>*</span>
                </div>
                <div style="width: 100%">
                    <label>工作经验：</label>
                    <textarea rows="5" id='experience'></textarea>
                    <span>*</span>
                </div>
                <div>
                    <label>验证码：</label>
                    <input type='text' id='yzm'>
                    <img style="vertical-align:middle" src="${require('../asset/aboutus/5689.png')}" alt="">
                </div>
                
                <div class='commit-button'>提交</div>
            </div>
            <div class='panel yrln'>
                <div>企业文化</div>
                <div>尊重、理解、信任、支持、感恩、忠诚</div>
                <div>用人理念</div>
                <div><img src="${require('../asset/zhao/真诚做人 认真做事.png')}" alt=""></div>
            </div>
        </div>
    </div>
    <!--  footer -->
    <%= require('html-loader!./footer.html') %>

</body>

</html>